/*
 * Customization Variables
 */

$accent: #c0392b;
$accent-light: #e74c3c;
$bg-color: #fafafa;
$text-color: #333;
$nav-color: #555;
$image-size: 200px;

/*
 * Build Variables, don't touch
 */

$max-width: 700px;
$med-width: 600px;
$small-width: 480px;
